# {
	box-sizing: border-box;
}

header {
	background-color: skyblue;
	text-align: center;
	width: 100%;
	margin: 10px;
	height: 100px;
	padding-top: 10px;
}

main {
	background-color: lightblue;
	float: left;
	width: 65%;
	margin: 10px;
	height: 500px;
	text-align: center;
}

div {
	background-color: darkblue;
	float: right;
	width: 20%;
	margin: 5px;
	height: 500px;
	text-align: center;
}

footer {
	background-color: lightgray;
	text-align: center;
	clear: both;
	width: 100%;
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
} 